body{
  background-color:#ffffff;
}

header{
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 20PX;
  text-align: center;
  height: 820px;
 
}
section{
  border: 2px solid;
  height: 320px;
}
.logo-area {

}